*{
  font-family: 'Rubik', sans-serif;
  color: #D2D79F;
  background-color:#483838 ;
}
.heading{
  font-family: 'DynaPuff', cursive;
  color: #2B7A0B;
  text-align: center;
  font-size: 3rem;
}
div.clock{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  text-align: center;
  justify-content: center;
}
div.time{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 2rem;
  width: 5rem;
  text-align: center;
  justify-content: center;
  cursor: pointer;
}

div.timer:hover{
  transform: scale(1.09);
}
div.button{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  text-align: center;
  justify-content: center;
}
a{
  text-decoration: none;
  background-color: #2B7A0B;
}
div.pomo-number{
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
button {
  cursor: pointer;
  background-color: #2B7A0B;
  padding: 1rem;
  border: none;
  border-radius: 2rem;
}
button:hover{
  transform: scale(1.09);
}
div.progress{
  border: hsl(103, 83%, 26%) solid 3px;
  margin: 2rem;
  background-color: #90B77D;
}
div.progress-bar{
  height: 1rem;
  width: 0;
}
