*{
  font-family: 'Rubik', sans-serif;
  color: #000;
}
.heading{
  font-family: 'DynaPuff', cursive;
  text-align: center;
  font-size: 3rem;
}
div.clock{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  text-align: center;
  justify-content: center;
}
div.time{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 2rem;
  width: 5rem;
  text-align: center;
  justify-content: center;
}
div.button{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  text-align: center;
  justify-content: center;
}
div.pomo-number{
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
button {
  cursor: pointer;
  background-color: #ffff;
  padding: 8px;
  border: #000 solid 5px;
}
